faiss-cpu
groq
langchain-groq
PyPDF2
langchain_google_genai
langchain
streamlit
langchain_community
python-dotenv
pypdf
langchain-huggingface
langchain_experimental
langgraph
psycopg2-binary
tiktoken
langchain-postgres
boto3